.body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.top {
  width: 100%;
  height: 100%;
  background-color: rgb(221, 132, 132);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
